# Shopify Store
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_PUBLIC_TOKEN=
SHOPIFY_API_VERSION=2026-01
SHOPIFY_WEBHOOK_SECRET=

# Store Identity
NEXT_PUBLIC_STORE_NAME="Store Name"
NEXT_PUBLIC_LOCALE=en-US
NEXT_PUBLIC_CURRENCY=USD


# Klaviyo Credentials
KLAVIYO_LIST_ID=
KLAVIYO_API_KEY=

# Navigation
NEXT_PUBLIC_MAIN_MENU_HANDLE=main-menu
NEXT_PUBLIC_FOOTER_MENU_HANDLE=footer

# Homepage
NEXT_PUBLIC_BANNER_IMAGE_URL=
NEXT_PUBLIC_BANNER_BLUR_URL=
NEXT_PUBLIC_FEATURED_COLLECTIONS_TYPE=featured_collections

# Limits
NEXT_PUBLIC_PRODUCTS_PER_PAGE=12
NEXT_PUBLIC_COLLECTION_PRODUCTS_PER_PAGE=15
NEXT_PUBLIC_CART_LINES_LIMIT=50
NEXT_PUBLIC_PRODUCT_IMAGES_LIMIT=10
NEXT_PUBLIC_PRODUCT_VARIANTS_LIMIT=100
NEXT_PUBLIC_RECOMMENDATIONS_LIMIT=8

# Build
PRERENDER_TOP_PRODUCTS=0
PRERENDER_COLLECTIONS=false

# Features
NEXT_PUBLIC_FEATURE_WISHLIST=false
NEXT_PUBLIC_FEATURE_REVIEWS=false
NEXT_PUBLIC_FEATURE_SUBSCRIPTIONS=false
NEXT_PUBLIC_FEATURE_PREDICTIVE_SEARCH=true