@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: white;
  --foreground: #171717;
  --header-footer-background: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: black !important;
}

.vw-max-w {
  @apply max-w-360 mx-auto p-5;
}

.header-mbl {
  background: var(--header-footer-background);
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}
